{% if user in session.users %}
    <button hx-get="{{ url_for("leave_session_widget", id=session.id) }}" hx-swap="outerHTML" class="btn btn-secondary btn-sm">Leave</button>
{% else %}
    <button hx-get="{{ url_for("join_session_widget", id=session.id) }}" hx-swap="outerHTML" class="btn btn-primary btn-sm">Join</button>
{% endif %}
