<div class="container border rounded m-3">
    <div class="row col-12"><h5>{{ session.title }}</h5></div>
    <div class="row">
        <div class="col-2 text-start"><h6 class="d-inline">Start:</h6><span class="m-1">{{ session.start() }}</span></div>
        <div class="col-2 text-start"><h6 class="d-inline">Duration:</h6><span class="m-1">{{ session.duration() }}</span></div>
        <div class="col-8 text-end"><h6 class="d-inline">Room:</h6><span class="m-1">{{ session.room or "TBD"}}</span></div>
    </div>
    <div class="row">
        <ul class="list-group list-group-horizontal justify-content-start">
            <li class="list-group-item flex-fill border border-0 text-end"><h6 class="d-inline">Speakers:</h6></li>
            {% for speaker in session.speakers %}
                <li class="list-group-item flex-fill border border-0 text-start">{{ speaker.name }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
