---
apiVersion: suffiks.com/v1
kind: Application
metadata:
  name: javazone
  namespace: default
  labels:
    app: javazone
spec:
  image: "{{ environ('main_image') }}:{{ environ('VERSION') }}"
  port: 3000
  envFrom:
    - configMap: javazone-config
    - secret: javazone-db
