---
apiVersion: yakup.ibidem.no/v1
kind: Application
metadata:
  name: javazone
  namespace: default
  labels:
    app: javazone
spec:
  image: "{{ image }}:{{ version }}"
  ports:
    - kind: http
      port: 3000
  probes:
    liveness:
      http:
        initialDelaySeconds: 100
        portName: http
        path: /_/healthy
    readiness:
      http:
        initialDelaySeconds: 100
        portName: http
        path: /_/ready
