
---
apiVersion: yakup.ibidem.no/v1
kind: Application
metadata:
  name: javazone
  namespace: default
  labels:
    app.kubernetes.io/name: javazone
    app: javazone
spec:
  image: "{{ image }}:{{ version }}"
  ports:
    http:
      port: 3000
      ingress:
        - zone: public
          pathType: Exact
          paths:
            - /api/v1/sessions
            - /api/v1/sessions.ics
            - /
        - zone: authenticated
  probes:
    liveness:
      http:
        initialDelaySeconds: 10
        portName: http
        path: /_/healthy
    readiness:
      http:
        initialDelaySeconds: 10
        portName: http
        path: /_/ready
