{% extends 'base.html.j2' %}

{% block content %}
    <p>Welcome to {{ request.app.title }}</p>
    <p>
        This is a service to help you plan your time at the <a href="https://javazone.no">JavaZone conference</a>.
        This service is not affiliated with JavaZone, nor does it have any official endorsement from the organizers.
    </p>
    <p>The service is considered in a closed beta phase, available by invite only.</p>

    <p>
        <a href="{{ url_for("all_sessions") }}" class="btn btn-primary btn-lg">View all sessions</a>
        <a href="{{ url_for("user_sessions") }}" class="btn btn-primary btn-lg">View your sessions</a>
    </p>
{% endblock %}
