{% extends 'base.html.j2' %}

{% block content %}
    <div class="container">
        <div class="row">
            <h5 class="col-10 text-center">
                {{ session.title }}
            </h5>
            <div class="col-2 text-end" id="join-leave-{{ session.id }}">
                {% include "widgets/session_join_leave.html.j2" %}
            </div>
        </div>
        <div class="row">
            <div class="col-3 text-start">
                <h6 class="d-inline">Duration:</h6>
                <span class="m-1">{{ session.duration() }}</span>
            </div>
            <div class="col-9 text-end">
                <h6 class="d-inline">Room:</h6>
                <span class="m-1">{{ session.room or "TBD" }}</span>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-1"></div>
            <div class="col-10 justify-content-start text-start" style="white-space-collapse: preserve-breaks;">
                {{ session.abstract | safe }}
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row mb-3">
            <div class="col-12 text-center">
                <h6 class="d-inline">Intended audience:</h6>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-1"></div>
            <div class="col-10 justify-content-start text-start" style="white-space-collapse: preserve-breaks;">
                {{ session.intended_audience | safe }}
            </div>
            <div class="col-1"></div>
        </div>
        {% if session.workshop_prerequisites %}
            <div class="row mb-3">
                <div class="col-12 text-center">
                    <h6 class="d-inline">Workshop Prerequisites</h6>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-1"></div>
                <div class="col-10 justify-content-start text-start" style="white-space-collapse: preserve-breaks;">
                    {{ session.workshop_prerequisites | safe }}
                </div>
                <div class="col-1"></div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-3 text-start">
                <a href="{{ session.make_url() }}">View at JavaZone</a>
            </div>
            <div class="col-9 text-end">
                {% if session.video %}
                    <a href="{{ session.video_url() }}">View video</a>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-start">
                <h6 class="d-inline">Speakers:</h6>
                {% for speaker in session.speakers %}
                    <span class="m-1">{{ speaker.name }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-3 text-start">
                <h6 class="d-inline">Language:</h6>
                <span class="m-1">{{ session.language_name() }}</span>
            </div>
            <div class="col-9 text-end">
                <h6 class="d-inline">Format:</h6>
                <span class="m-1">{{ session.format }}</span>
            </div>
        </div>
    </div>
{% endblock %}
